body {
  font-family:'pt_sansregular','arial';
  background-color:#f3f1ec;
}

table {
  border-collapse:collapse;
  margin-bottom:1em;
}

table, th, td {
  border:1px solid black;
}

td, th {
  padding:8px;
  background-color:#FFF;
}

th {
  text-align:left;
  background-color:#002147;
  color:white;
}

p.error, .errorlist {
  color:red;
}

/*HEADER STYLES*/

.header {
  width:100%;
  background-color: #002147;
  color:white;
  height:80px;
}

.menu-container {
  float:left;
  margin-left:130px;
  display:block;
}

.header ul {
  display:inline-block;
  list-style: none;
  margin:0;
  padding:20px 10px;
}

.header li {
  display:inline-block;
  margin-right:5px;
}

.header li.menu-item {
  display:inline-block;
  margin:0;
}

.header li.menu-item:hover {
  background-color: #3277ae;
}

.logo-container {
  float:left;
}

.logo {
  display:inline-block;
  height:80px;
  margin-top:20px;
  margin-left:30px;
}

.mobile-menu-icon {
  display:none;
}

.mobile-menu-container {
  display:none;
}

/* PAGE STYLES */

 .page-title, .view-switch {
   margin-left:0;
 }


/*TABLE STYLES*/

.form-frame {
  margin: 50px auto;
  width: 600px;
}

.table-title {
  margin-left:0;
}

/* FILTERS */

.sort-container {
  margin: 0;
  margin-bottom:10px;
}

.filter-container {
  width:100%;
  /*height:30px;*/
  padding-left:0;
}

ul.filter-list {
  list-style:none;
  display: inline-block;
  margin:0;
  padding:0;
}

ul.filter-list > li {
  display: inline-block;
}

.date-field {
  width: 120px;
}

/* LOGTIME FORM */

.logging-sentence {
  display:inline;
  margin-left:0;
  margin-bottom:0;
  font-size:1.25em;
}

.logging-submit {
  margin-left:0;
}
