{% extends base_template|default:"base.html" %}

{% block content %}

<form action="" method="post" class='create_account_form'>
    {% csrf_token %}
    <table>
    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
        {% if form.username.errors %}
        <td>{{ form.username.errors }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>{{ form.email.label_tag }}</td>
        <td>{{ form.email }}</td>
        {% if form.email.errors %}
        <td>{{ form.email.errors }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>{{ form.first_name.label_tag }}</td>
        <td>{{ form.first_name }}</td>
        {% if form.first_name.errors %}
        <td>{{ form.first_name.errors }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>{{ form.last_name.label_tag }}</td>
        <td>{{ form.last_name }}</td>
        {% if form.last_name.errors %}
        <td>{{ form.last_name.errors }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>{{ form.password1.label_tag }}</td>
        <td>{{ form.password1 }}</td>
        {% if form.password1.errors %}
        <td>{{ form.password1.errors }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>{{ form.password2.label_tag }}</td>
        <td>{{ form.password2 }}</td>
        {% if form.password2.errors %}
        <td>{{ form.password2.errors }}</td>
        {% endif %}
    </tr>
    </table>
    <input type="submit" value="Submit" />
</form>

{% endblock %}
