@import "partials/base";

/* HEADER STYLE */

.header {
  width:100%;
  background-color: $darkblue;
  color:white;
  height:80px;
  /*font-size:0.85em;*/
}

.header a {
  color:#FFF;
  display:block;
  text-decoration: none;
  margin:0;
  height:20px;
  padding:10px 10px;
}

.menu-container {
  float:left;
}

.header ul {
  /*display:inline-block;*/
  list-style: none;
  margin:0;
  padding:20px 10px;
  display:none;
}

.header li {
  display:inline-block;
  margin-right:5px;
}

.header li.menu-item {
  display:inline-block;
  margin:0;
}

.header li.menu-item:hover {
  background-color: $lightblue;
}

.logo-container {
  float:left;
}

.logo {
  display:inline-block;
  height:80px;
  margin-top:20px;
  margin-left:30px;
}

/* PAGE STYLES */

 .page-title {
   margin-left:10px;
 }

/*TABLE STYLES*/

.form-frame {
  margin: 50px auto;
  width: 100%;
}

.view-table {
  width:100%;
}

.table-title {
  margin-left:10px;
}

/*FILTERS*/

.sort-container {
  margin-bottom:10px;
  margin-left:10px;
}

.date-field {
  width: 100px;
}

.hours-field {
  width:50px;
}

.hours-field, .date-field, .select {
  margin:0 10px;

}

.filter-container {
  width:100%;
  height:auto;
  padding-left:10px;
}

.select-container {
  margin-bottom:10px;
}

ul.filter-list {
  list-style:none;
  margin:0;
  padding:0;
}

ul.filter-list > li {
  margin-bottom:10px;
}
