{% if filters %}
  <div class='filter-container'>
    {% for filter in filters %}
      <label for='{{ filter.name }}'>{{ filter.label }}: </label>
      <select name='{{ filter.name }}' id='filter-select'>
        <option value="all">--------</option>
        {% for option in filter.options %}
        <option value="{{ option.pk }}">{{ option }}</option>
        {% endfor %}
      </select>
    {% endfor %}

    <button id='filter-submit' value="Apply filter">Apply</button>
  </div>
  <div class='filter-container'>
    <label for="datefrom">Date from: </label>
    <input class='date' id="datefrom" name="datefrom" placeholder="yyyy-mm-dd" />
    <label for="dateto">Date to: </label>
    <input class='date' id="dateto" name="dateto" placeholder="yyyy-mm-dd" />
    <button id='date-submit' value="Apply filter">Apply</button>
    <a href='{{ request.path }}'>Clear filters</a>
  </div>
{% endif %}
