{% if filters %}
  <div class='filter-container select-container'>
    {% for filter in filters %}
      <label for='{{ filter.name }}'>{{ filter.label }}: </label>
      <select name='{{ filter.name }}' id='filter-select'>
        <option value="all">--------</option>
        {% for option in filter.options %}
        <option value="{{ option.pk }}">{{ option }}</option>
        {% endfor %}
      </select>
    {% endfor %}

  </div>
  <div class='filter-container'>
    <ul class='filter-list'>
      <li><label for="datefrom">Date from: </label>
          <input class='date-field' id="datefrom" name="datefrom" placeholder="yyyy-mm-dd" /></li>
      <li><label for="dateto">Date to: </label>
          <input class='date-field' id="dateto" name="dateto" placeholder="yyyy-mm-dd" /></li>
      <li><button id='date-submit' value="Apply filter">Apply</button>
          <a href='{{ request.path }}'>Clear filters</a></li>
    </ul>
  </div>
{% endif %}
