<div class='header'>
  <ul>
{% if user.is_authenticated %}
    <li>Hi, {{ user.first_name }}!</li>
    <li class='menu-item'><a href='{% url "log-time" %}'>LOG TIME</a></li>
    <li class='menu-item'><a href='{% url "view-my-times" %}'>VIEW MY TIMES</a></li>
    {% for group in user.groups.all %}
      {% if group.name == "manager" %}
        <li class='menu-item'><a href='{% url "projects-view" %}'>PROJECTS VIEW</a></li>
        <li class='menu-item'><a href='{% url "users-view" %}'>USERS VIEW</a></li>
      {% endif %}
    {% endfor %}
    <li class='menu-item'><a href='/user/logout'>LOGOUT</a></li>
{% else %}
    <li class='menu-item'><a href='/user/login'>LOGIN</a></li>
{% endif %}
  </ul>
</div>
