{% extends base_template|default:"base.html" %}

{% load static %}

{% block title %}View my times{% endblock %}

{% block content %}
<h1 class='page-title'>My times</h1>
<div class='filter-frame'>
{% include 'app/includes/filters.html' %}
</div>
<table class='view-table'>
  <tr>
    <th>Date</th>
    <th>Project</th>
    <th>Days</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
{% for time in times %}

<tr>
  <td>{{ time.date }}</td>
  <td>{{ time.project }}</td>
  <td>{{ time.days }}</td>
  <td><a href='{% url 'edit-time' time.pk %}'>Edit</a></td>
  <td><a href='{% url 'delete-time' time.pk %}'>Delete</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/filters.js' %}"></script>
{% endblock %}
