{% extends "app/base.html" %}
{% load static %}


{% block content %}
<h1>Users view</h1>
<p>Sort by: <a href='' id='date-sort'>date</a> | <a href='' id='project-sort'>project</a></p>

{% include 'app/includes/filters.html' %}

{% for key, value in users.items %}

<h3>{{ key.first_name }} {{ key.last_name }}</h3>
<table class='fixed-width'>
  <!-- <tr>
    <th colspan='4'></th>
  </tr> -->
  <tr>
    <th>Date</th>
    <th>Project</th>
    <th>Days</th>
  </tr>
  {% for time in value %}

  <tr>
    <td>{{ time.date }}</td>
    <td>{{ time.project }}</td>
    <td>{{ time.days }}</td>

  </tr>
  {% endfor %}
</table>
{% endfor %}

{% endblock %}


{% block extra_js %}
<script src="{% static 'app/js/filters.js' %}"></script>
{% endblock %}
