{% extends base_template|default:"base.html" %}

{% load static %}

{% block title %}View times by user{% endblock %}

{% block content %}
<h1 class='page-title'>Users view</h1>
<p class='view-switch'><a href='{% url "projects-view" %}'>or view by Project</a></p>
<div class='filter-frame'>
  <div class='sort-container'>Sort by: <a href='' id='date-sort'>date</a> | <a href='' id='project-sort'>project</a></div>
  {% include 'app/includes/filters.html' %}
</div>

{% for user in users %}
  {% for name, time_set in user.items %}
<h3 class='table-title'>{{ name }}</h3>
<table class='view-table'>
  <!-- <tr>
    <th colspan='4'></th>
  </tr> -->
  <tr>
    <th>Date</th>
    <th>Project</th>
    <th>Days</th>
  </tr>
  {% for key, times in time_set.items %}
    {% for time in times %}
    <tr>
      <td>{{ time.date }}</td>
      <td>{{ time.project }}</td>
      <td>{{ time.days }}</td>

    </tr>
    {% endfor %}
  {% endfor %}
  {% endfor %}
</table>
{% endfor %}

{% endblock %}


{% block extra_js %}
<script src="{% static 'app/js/filters.js' %}"></script>
{% endblock %}
