{% extends "app/base.html" %}
{% load static %}

{% block content %}
<h1>My times</h1>
{% include 'app/includes/filters.html' %}
<table class='fixed-width'>
  <tr>
    <th>Date</th>
    <th>Project</th>
    <th>Days</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
{% for time in times %}

<tr>
  <td>{{ time.date }}</td>
  <td>{{ time.project }}</td>
  <td>{{ time.days }}</td>
  <td><a href='{% url 'edit-time' time.pk %}'>Edit</a></td>
  <td><a href='{% url 'delete-time' time.pk %}'>Delete</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}

{% block extra_js %}
<script src="{% static 'app/js/filters.js' %}"></script>
{% endblock %}
