{% extends "app/base.html" %}

{% load static %}

{% block content %}
<div class='filter-frame'>
<form method="post">
    {% csrf_token %}
    {% if form.date.errors %}
      <p class='error'>{{ form.date.label }}{{ form.date.errors }}</p>
    {% endif %}
    {% if form.project.errors %}
      <p class='error'>{{ form.project.label }}{{ form.project.errors }}</p>
    {% endif %}
    {% if form.days.errors %}
      <p class='error'>{{ form.days.label }}{{ form.days.errors }}</p>
    {% endif %}
    <p><span class='logging-sentence'>On {{ form.date }}</span>
      <span class='logging-sentence'>I worked on {{ form.project }}</span>
        <span class='logging-sentence'>for {{ form.days }}</span></p>

    <input class='logging-submit' type="submit" value="Submit" />
</form>
</div>
<h1 class='page-title'>My times this week</h1>

<table class='view-table'>
  <tr>
    <th>Date</th>
    <th>Project</th>
    <th>Days</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
{% for time in times %}

<tr>
  <td>{{ time.date }}</td>
  <td>{{ time.project }}</td>
  <td>{{ time.days }}</td>
  <td><a href='{% url 'edit-time' time.pk %}'>Edit</a></td>
  <td><a href='{% url 'delete-time' time.pk %}'>Delete</a></td>
</tr>

{% endfor %}

{% endblock %}

{% block extra_js %}
  <script>
  $( "#id_date" ).datepicker(
    {dateFormat: "yy-mm-dd"}
  );
  </script>
{% endblock %}
