body {
  background-color: lightblue;
  font-family: 'pt_sansregular','arial';
  background-color: #f3f1ec;
}

.form-frame {
  margin: 50px auto;
  width: 800px;
}

table {
  border-collapse: collapse;
  margin-bottom:1em;
}

table, th, td {
  border:1px solid black;
}

td, th {
  padding:10px;
  background-color:#FFF;
}

th {
  text-align:left;
}

.header {
    /*height:90px;*/
  width:100%;
  background-color: #002147;
  color:white;
}

.header a {
  color:white;
  text-decoration: none;
  margin:0;
  padding:0;
  vertical-align: middle;
}

.header ul {
  list-style: none;
  margin:0;
  padding:20px 10px;
}

.header li {
  display:inline-block;
  margin-right:10px;
}

.header li.menu-item {
  display:inline-block;
  height:30px;
  padding:5px 20px;
  margin:0;
}

.header li.menu-item:hover {
  background-color: #3277ae;
}

.date {
  width: 100px;
}

.hours {
  width:50px;
}

.hours, .date, .select {
  margin:0 10px;

}

table.fixed-width {
  width:80%;
}

.filter-container {
  width:100%;
  height:40px;
}

p.error, .errorlist {
  color:red;
}
